<div class="footer-comp">
  <fa-icon class="fas me-2" [icon]="faTwitter"></fa-icon>
  <fa-icon class="fas me-2" [icon]="faLinkedin"></fa-icon>
  <fa-icon class="fas me-2" [icon]="faFacebook"></fa-icon>
</div>
<div class="nav mt-3">
  <a href="javascript:void(0)">About</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">for Business</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">Suggestions</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">Help & FAQS</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">Contacts</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">Pricing</a>
</div>

<div class="copyright mt-4">C copyright companyname inc</div>

<div class="nav mt-1">
  <a href="javascript:void(0)">Privacy</a>
  <span class="separator">/</span>
  <a href="javascript:void(0)">Term</a>
</div>
