<div class="header">
  <div class="input-group">
    <!-- Logo Text -->
    <div class="d-inline-block me-5 header-logo fs-2">
      Social<span class="light opacity-70">Network</span>
    </div>

    <!-- Search & Find Section -->
    <input
      type="search"
      class="form-control mb-2 border-0"
      placeholder="Search"
    />
    <span class="input-group-text border-0 mb-2 me-3 search-btn pointer">
      <fa-icon [icon]="faSearch" class="fas" id="search-addon"></fa-icon>
    </span>

    <div class="box mb-2 me-3 pointer">
      <fa-icon [icon]="faArrowUp" class="fas"></fa-icon>
      <label class="ms-2">Upload</label>
    </div>

    <!-- User Section -->
    <div class="box mb-2">
      <fa-icon [icon]="faUser" class="fas"></fa-icon>
    </div>
    <div class="d-inline-block ms-2">
      <div class="first-name">{{ firstName }}</div>
      <div class="last-name">{{ lastName }}</div>
    </div>
  </div>
</div>
