.opacity-70 {
  opacity: 0.7;
}

#search-addon {
  height: 100%;
  background: transparent;
  position: relative;
  top: 4px;
  color: black;
  cursor: pointer;
}
.search-btn {
  background-color: white;
}

.header {
  padding-top: 10px;
  color: white;
  background: var(--bg-color);
}

.box {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.first-name {
  font-size: 10pt;
}

.last-name {
  font-size: 8pt;
}
.nav {
  margin-top: 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav .separator {
  margin: 0 1rem;
}
.nav a:hover {
  text-decoration: underline;
}
.logout {
  right: -20px;
  top: 0px;
}
