a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.row {
  position: relative;
  top: 10px;
  align-items: center;
}
.grid-list-comp .body {
  border-top: 2px solid white;
  border-bottom: 1px solid white;
  margin-top: 8px;
  padding-top: 10px;
  min-height: 600px;
}
.grid-list-comp .body .item {
  min-height: 98px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.grid-list-comp .body .item .subTitle {
  font-size: 9pt;
}

.grid-list-comp .body .item img {
  width: auto;
  border-radius: 5px;
  height: 80px;
  float: left;
}

.grid-list-comp .body .item:hover {
  border: 1px solid white;
}
.close-icon {
  top: 0px;
  right: 0px;
  background: white;
  color: black;
  padding: 0px 10px;
  border-radius: 0px 0px 0px 100%;
}
