<div>
  <div class="dashboard-content">
    <table>
      <tr>
        <td colspan="2" rowspan="2">
          <div class="td-content">
            <img
              src="https://64.media.tumblr.com/e77b21f88965dd8f27f3ec0e08a299de/38b9291e05882fb5-58/s2048x3072/93efd115fcd36be4dcba8ec55ca1ffdcfe6616ee.jpg"
            />
          </div>
        </td>
        <td>
          <div class="td-content">
            <img
              src="https://64.media.tumblr.com/e77b21f88965dd8f27f3ec0e08a299de/38b9291e05882fb5-58/s2048x3072/93efd115fcd36be4dcba8ec55ca1ffdcfe6616ee.jpg"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>C</td>
      </tr>
      <tr>
        <td>X</td>
        <td>C</td>
        <td>C</td>
      </tr>
    </table>
  </div>
</div>
