<div>
  <div class="row">
    <grid
      class="col-md-8 col-sm-12 col"
      headerLabel="Video"
      viewAllLabel="Browse all Videos"
      action="Upload"
      actionDetail="Your Own Videos"
      [items]="videoList"
    ></grid>
    <grid-list
      headerLabel="Activity"
      viewAllLabel="View Timeline / Filter activities"
      [items]="activityList"
      class="col-md-4 col-sm-12 col"
    ></grid-list>

    <div class="col-md-8 col-sm-12 col mt-3">
      <div class="row">
        <grid
          class="col-md-12"
          headerLabel="People"
          viewAllLabel="View all"
          [iconAction]="faDots"
          action="Show"
          actionDetail="Your Works"
          [items]="peopleList"
        ></grid>
        <grid
          class="col-md-12"
          headerLabel="Documents"
          viewAllLabel="Browse all Documents"
          action="Share"
          actionDetail="Your Documents"
          [items]="documentList"
        ></grid>
      </div>
    </div>
    <div class="col-md-4 col col-sm-12 mt-3">
      <grid
        class="col-md-8 col-sm-12 col"
        headerLabel="Channels"
        viewAllLabel="Browse al Channels"
        type="2-cols"
        [items]="channelList"
      ></grid>
    </div>
  </div>
</div>
